/02_dec_hex_oct_bin_conversions/.vscode/tasks.json
/doc/~$dstawa programowa.docx.LOCAL.docx
.vscode/tasks.json
/doc/~$ogramming course cpp .docx
doc/~WRL0003.tmp
/.vs
/students/Daniel/vs/WebApplication1/obj
/students/Daniel/vs/WebApplication1/bin/Debug/net8.0
/students/Kamil/test4/.vs/test4/FileContentIndex/*.vsidx
students/Daniel/vs/WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
students/Daniel/vs/WebApplication1/.vs/WebApplication1/FileContentIndex/0c75295d-33c2-49c6-95c5-b5a7ce48e490.vsidx
students/Daniel/vs/WebApplication1/.vs/WebApplication1/FileContentIndex/35d69718-65d6-4bf4-8231-88f01056beba.vsidx
students/Daniel/vs/WebApplication1/.vs/WebApplication1/FileContentIndex/704e245c-4973-406e-9582-83275239fbce.vsidx
students/Daniel/vs/WebApplication1/.vs/WebApplication1/FileContentIndex/56457f5b-a8b1-4590-a871-b33443f44975.vsidx
students/Daniel/vs/WebApplication1/.vs/WebApplication1/FileContentIndex/342648ba-6bfe-40ee-b36c-c41c0f541ef3.vsidx
students/Daniel/vs/WebApplication1/.vs/WebApplication1/FileContentIndex/b70e0937-387d-4f06-92d3-90265dd955f0.vsidx
students/Daniel/vs/WebApplication1/.vs/WebApplication1/v17/.suo
students/Daniel/vs/WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
students/Daniel/vs/WebApplication1/.vs/WebApplication1/FileContentIndex/704e245c-4973-406e-9582-83275239fbce.vsidx
students/Daniel/vs/WebApplication1/.vs/WebApplication1/v17/.suo
