/02_dec_hex_oct_bin_conversions/.vscode/tasks.json
/doc/~$dstawa programowa.docx.LOCAL.docx
.vscode/tasks.json
/doc/~$ogramming course cpp .docx
doc/~WRL0003.tmp
/.vs
/students/Daniel/vs/WebApplication1/obj
/students/Daniel/vs/WebApplication1/bin/Debug/net8.0
/students/Kamil/test4/.vs/test4/FileContentIndex/*.vsidx
/students/Daniel/vs/WebApplication1/.vs/WebApplication1/FileContentIndex/*.vsidx
