@model WebApplication1.Models.Company


<div class="text-center">
    <h1 class="display-4">Add Company</h1>
</div>
<form asp-action="AddingCompany">
    <label>Id</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Id" />

    <label>Name</label>
    <input class="form-control" type="text" placeholder="Name" asp-for="Name" required />

    <label>Country</label>
    <input class="form-control" type="text" placeholder="Country" asp-for="Country" required />

    <label>CEO</label>
    <input class="form-control" type="text" placeholder="CEO" asp-for="CEO" required />

    <label>Estabilished</label>
    <input class="form-control" type="date" placeholder="yyyy-mm-dd" asp-for="Estabilished" required />

    <button class="btn btn-primary" type="submit">Add</button>
</form>