@model WebApplication1.Models.RelId
<div class="text-center">
    <h1 class="display-4">Which relation</h1>
</div>

<a asp-action="AddRelGTP">Game to publisher</a>
<a asp-action="AddRelGTD">Game to developer</a>

